.container {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 16px 20px 20px 20px;
  width: 950px;
  box-sizing: border-box;
  .title {
    font-size: 16px;
    line-height: 26px;
    color: #222;
    font-weight: bold;
  }
  .title-area {
    margin-left: 100px;
    display: flex;
    flex: 1;
    height: 40px;
    font-size: 14px;
    div {
      width: 20%;
      &:first-child{
        margin-left: 20px;
      }
    }
  }
  .total {
    position: relative;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
    .price {

    }
  }
}
