.item {
  display: flex;
  position: relative;
  width: 908px;
  height: 120px;
  color: #222222;
  margin-bottom: 20px;
  border-bottom: 1px solid #474D57;

  .img {
    width: 100px;
    height: 100px;
  }
  .info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    .name {
      font-size: 16px;
      line-height: 22px;
    }
    .price {
      font-size: 30px;
      color: #F40;
      b {
        font-weight: normal;
        font-size: 14px;
      }
      span {

      }
    }
  }
  .gap {
    flex: 1;
  }
  .add {
    position: relative;
    padding: 0;
    width: 34px;
    height: 34px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #E5E5E5;
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 16px;
      left: 10px;
      width: 28px;
      height: 3px;
      transform: scale(.5);
      transform-origin: left top;
      background-color: #666;
      transition: background .6s ease;
    }
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 16px;
      width: 3px;
      height: 28px;
      transform: scale(.5);
      transform-origin: left top;
      background-color: #666;
    }
  }
  .btn {
    border-radius: 5px;
    width: 120px;
    height: 40px;
    font-size: 14px;
    background-color: #F40;
    text-align: center;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
  }
}
