.container {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 16px 20px 20px 20px;
  width: 950px;
  box-sizing: border-box;
  .title {
    font-size: 16px;
    line-height: 26px;
    color: #222;
    font-weight: bold;
    margin-bottom: 50px;
  }
  .btn {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    font-size: 14px;
    background-color: #F40;
    text-align: center;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
  }
}
